In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
data=pd.read_csv("C:\\Users\\Nithiyanand\\Downloads\\mail_data.csv")
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [21]:
data.loc[data['Category']=='spam','Category']=0
data.loc[data['Category']=='ham','Category']=1
print(data)

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [24]:
x=data['Message']
y=data['Category']

In [25]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [26]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [34]:
feature_ext=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
x_train_feat=feature_ext.fit_transform(x_train)
x_test_feat=feature_ext.transform(x_test)

In [35]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [36]:
model=LogisticRegression()

In [37]:
model.fit(x_train_feat,y_train)

LogisticRegression()

In [38]:
pred=model.predict(x_train_feat)

In [39]:
accuracy=accuracy_score(y_train,pred)

In [41]:
print("Accuracy on train data:",accuracy)

Accuracy on train data: 0.9676912721561588

In [42]:
pred_test=model.predict(x_test_feat)

In [44]:
accuracy_test=accuracy_score(y_test,pred_test)

In [45]:
print(accuracy_test)

0.9605381165919282

In [130]:
mail=["Loser!! customer you have been selected to received To claim only."]
feat=feature_ext.transform(mail)

In [131]:
prediction=model.predict(feat)
print(prediction)

[0]

In [132]:
if(prediction[0]==1):
        print("ham")
else:
        print("spam")

spam